{% extends 'sky/layout.html' %}

{% load static %}

{% block head %}
    <title>Maxfiylik Siyosati | Parvoz</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
            <img src="{% static 'img/privacy-policy.png' %}" alt="Privacy Policy" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
            <p>
                Qulay Parvoz (keyingi o'rinlarda “<b>qulay_parvoz-web-app.herokuapp.com</b>”) o'zining qimmatli mijozlarining shaxsiy daxlsizlik bilan bog'liq tashvishlarini tushunadi va biz bilan baham ko'rilgan shaxsiy ma'lumotlarini himoya qilish va saqlash bo'yicha bir qator choralarni ko'radi.
            </p>
            <p>
                Ushbu Maxfiylik siyosatining qo'llanilishi parvoz-web-app.herokuapp.com tomonidan taklif qilingan mahsulot(lar) yoki xizmatlar(lar)ni so'ragan yoki sotib olish yoki sotib olishni anglatadigan Foydalanuvchiga nisbatan qo'llaniladi. veb-sayti, mobil sayti, mobil ilovasi va oflayn kanallari, shu jumladan qo'ng'iroq markazlari va ofislari (bu erda birgalikda "Sotuv kanallari" deb ataladi) har qanday onlayn kanallari orqali. Ushbu Maxfiylik siyosati maqsadlari uchun Veb-sayt veb-sayt(lar), mobil sayt(lar) va mobil ilova(lar)ni anglatadi. Veb-sayt yoki boshqa Savdo kanallaridan foydalanish yoki ularga kirish orqali Foydalanuvchi shu bilan ushbu Maxfiylik siyosati va uning mazmuni shartlariga rozilik bildiradi. Agar siz ushbu Maxfiylik siyosatiga rozi bo'lmasangiz, iltimos, bizning veb-sayt yoki boshqa Savdo kanallaridan foydalanmang yoki ularga kirmang.
            </p>
            <p>
                Ushbu Maxfiylik siyosati uchinchi tomonlarning veb-sayt(lar), mobil saytlari va mobil ilovalariga, hatto ularning veb-saytlari/mahsulotlari bizning veb-saytimizga bog'langan bo'lsa ham qo'llanilmaydi. Foydalanuvchi eʼtiborga olishi kerakki, sky-web-app.herokuapp.com biznes hamkorlari, reklama beruvchilari, homiylari yoki sky-web-app.herokuapp.com havola(lar)ni taqdim etadigan boshqa saytlarning maʼlumotlari va maxfiylik amaliyoti ulardan sezilarli darajada farq qilishi mumkin. ushbu Maxfiylik siyosati. Shunga ko'ra, Foydalanuvchiga ular bilan aloqada bo'lgan har qanday uchinchi shaxslarning maxfiylik bayonotlari va siyosatlarini ko'rib chiqishi tavsiya etiladi.
            </p>
        </div>
    </section>
{% endblock%}