{% extends 'sky/layout.html' %}

{% load static %}

{% block head %}
    <title>Shartlar va Sharoitlar | Parvoz</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
            <img src="{% static 'img/terms-and-conditions.png' %}" alt="Privacy Policy" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
            <p>
                www.qulay_parvoz-web-app.herokuapp.com sayyohlik sayti Flight Inc tomonidan yuritiladi. U Hindiston Respublikasi qonunlariga muvofiq IATA sertifikatiga ega sayyohlik kompaniyasidir. Ushbu saytga kirish yoki undan foydalanish yoki uning xizmatlaridan foydalanish orqali siz quyida ko'rsatilgan shartlar va qo'shimcha yo'riqnomalar va kelajakdagi o'zgartirishlarni o'z ichiga olgan holda rozi bo'lasiz.
            </p>
            <p>
                Parvoz hech qanday oldindan ogohlantirmasdan, quyida yozilgan Shartlar va shartlarning istalgan qismini o'zgartirishi, o'zgartirishi yoki olib tashlashi mumkin. Ushbu Foydalanish shartlariga kiritilgan har qanday o'zgartirishlar saytda e'lon qilingan paytdan boshlab amal qiladi. Barcha stsenariydan toʻliq xabardor boʻlish uchun “Shartlar va shartlar” havolasini qayta tekshirishingiz kerak.
            </p>
            <p>
            <b>1. Mijozlar va Parvoz o'rtasidagi kelishuv:</b><br>
                qulay_parvoz-web-app.herokuapp.com orqali kirish, foydalanish, ko'rib chiqish yoki bron qilishda foydalanuvchilar portalimiz qoidalari va shartlariga rozi ekanliklarini qabul qilishlari kerak. Har qanday qoidabuzarlik holatlarida, Flight Planners Ltd. va uning sho'ba korxonalari (jumladan, fly-web-app.herokuapp.com) ularga qarshi har qanday qonuniy choralar ko'rish uchun barcha huquqlarni o'zida saqlab qoladi.
            </p>
            <p>
                <b>2. Saytdagi narxlar:</b><br>
                Xizmat toʻlovi, bekor qilish toʻlovi, qayta rejalashtirish toʻlovi GSTni oʻz ichiga oladi<br>
                Biz fly-web-app.herokuapp.com saytida taklif qiladigan narxga odatda turar joy toʻlovlari, soliqlar (agar boshqacha koʻrsatilmagan boʻlsa) va alohida hollarda baʼzi ovqatlar (nonushta/tushlik/kechki ovqat) kiradi. Bu hech qachon shaxsiy xarajatlarni yoki boshqa qo'shimcha to'lovlarni o'z ichiga olmaydi, masalan, telefon qo'ng'iroqlari, shaxsiy xizmatlar, har qanday yodgorliklarga kirish to'lovlari va bar to'lovlari va boshqalar.
            </p>
            <p>
                <b>3. To'lov tartibi va siyosatlari:</b><br>
                Bizning to'lov shlyuzimiz butunlay xavfsiz va mijozlar xavfsiz tranzaksiya jarayoni orqali onlayn to'lovlarni amalga oshirishi mumkin, bu esa shaxsiy xavfsizlik kodlari hech qanday sharoitda oshkor bo'lmasligini ta'minlaydi.
            </p>
            <p>
                <b>4. Veb-saytdan foydalanish</b><br>
                <b>Ushbu veb-saytdan foydalansangiz, siz quyidagilarga rozilik bildirasiz:</b>
            <ul>
                <li>Sizda majburiy qonuniy talab yaratish va ushbu Foydalanish shartlariga kirish huquqiga egasiz.</li>
                <li>Ushbu saytdan foydalanish shartlariga muvofiq foydalanasiz.</li>
                <li>Veb-saytdan faqat oʻzingiz yoki ushbu turdagi bandlovlarni amalga oshirishga rasman ruxsat berilgan boshqa shaxs uchun qonuniy bandlovlar qilish uchun foydalanasiz. Shuningdek, siz boshqa shaxslarni veb-sayt qoidalari va shartlari haqida xabardor qilasiz</li>
                <li>Har bir rasmiy hujjat haqida aniq ma'lumot va boshqa muhim ma'lumotlar, masalan, ism va DOB kabi saytga sayohatni rejalashtirganingizda taqdim etasiz.</li>
                <li>Axborot olish jarayonida xatolik yoki xatolik yuzaga kelsa, buning uchun faqat siz javobgar bo'lasiz.</li>
                <li>Ushbu saytga taqdim etgan barcha ma'lumotlar aniq, yangilangan va to'liq bo'lishi kerak,</li>
                <li>Agar sizda ushbu saytda hisob qaydnomangiz bo'lsa, uni login ma'lumotlaringiz, jumladan login ID va parolingiz bilan himoyalashingiz tavsiya etiladi. Hisobingizdan har qanday foydalanish yoki noto‘g‘ri foydalanish uchun siz to‘liq javobgar bo‘lasiz.</li>
                <li>Parvoz istalgan vaqtda, hech qanday ogohlantirishsiz va har qanday sababga ko'ra, shu jumladan, lekin ular bilan cheklanmagan holda, foydalanish shartlarini buzganlik uchun o'z veb-saytiga kirishni rad etish huquqini o'zida saqlab qoladi.</li>
            </ul>

        </div>
    </section>
{% endblock%}